<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/27041fb99d.js" crossorigin="anonymous"></script>
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom shadow-sm">
      <div class="container-fluid">
          <i style="font-size:1.7em; color: white;" class="fab fa-affiliatetheme fa-lg ml-3"></i>
          <a class="navbar-brand ml-3" href="/home">Flask.notes</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/home">Главная<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/articles">Заметки</a>
          </li>
          <!-- <li class="nav-item"> -->
            <!-- <a class="nav-link" href="/about">О нас</a> -->
          <!-- </li> -->
        </ul>
        <a class="btn btn-outline-light ml-auto" href="/create_article">Создать заметку</a>
      </div>
      </div>
    </nav>
   <div class="">
      {% block content %}{%endblock%}
    </div>
    <footer class="text-muted">
      <div class="container pt-4 mb-3">
        <p class="float-right">
          <a class="text-muted" href="#">Вверх</a>
        </p>
        <p>Здарова!</p>
        <p>Разработчик: Петраков Алексей <a class="text-muted" href="https://vk.com/aleksey_petrakov">Vkontakte</a> или <a class="text-muted" href="https://github.com/Petrakan">Github</a></p>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
  </body>
</html>
