{%extends 'base.html'%}

{%block title%}Создание статьи{%endblock%}

{%block content%}
<div class="container">
  <h1 class="pt-5 display-4 text-center">Создать статью</h1>
  <div class="row justify-content-center">
  <div class="col-md-8">
  <form class="pt-5" method="post">
    <input class="form-control" type="text" name="title" id="title" placeholder="Введите название"/><br>
    <textarea class="form-control" name="intro" id="intro" placeholder="Введите описание"></textarea><br>
    <textarea class="form-control" name="text" id="text" placeholder="Введите основной текст"></textarea><br>
    <input class="btn btn-outline-primary" type="submit" value="Создать"/>
  </form>
  </div>
  </div>
</div>
{%endblock%}
